body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
  }
  
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
}
  
::-webkit-scrollbar {
    width: 0px;
}

.hero-banner-img {
  width: 90%;
  height:650px;
}

@media screen and (max-width:600px) {
  .hero-banner-img {
    display: none;
  }
}
